name: Stream Video to YouTube & Facebook

on:
  workflow_dispatch:

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install FFmpeg
        run: sudo apt update && sudo apt install -y ffmpeg

      - name: Stream to YouTube & Facebook
        run: |
          ffmpeg -re -stream_loop -1 -i video.mp4 \
          -c:v libx264 -preset veryfast -maxrate 2500k -bufsize 5000k \
          -pix_fmt yuv420p -g 60 \
          -c:a aac -b:a 128k -ar 44100 \
          -f tee \
          "[f=flv]rtmp://a.rtmp.youtube.com/live2/${{ secrets.YT_KEY }}|\
           [f=flv]rtmps://live-api-s.facebook.com:443/rtmp/${{ secrets.FB_KEY }}"
